body {
    background-color: rgb(169, 201, 250);
}

.text-center {
    text-align: center;
}

h1, h2 {
    font-family: 'Satisfy';
}

.switch-paddle {
    border-radius: 5px;
}

.button {
    border-radius: 10px;
}

.switch-label {
    padding-right: 5px;
    margin-right: 10px;
}

/* Home page specific styling */
.home-main {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  flex-wrap: wrap; 
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    /* height: 300px; */
}
#title {
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: whitesmoke;
}

#textBox {
    width: 50%;
    border-radius: 20px;
}

#slider-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#search-button {
    float: right;
}

.searchBox {
    margin-left: 20px;
    width: 60%;
}

#buttonDiv {
    width: 50%;
}

.button {
    font-size: 15px !important;
}

.button,
.switch-label {
    color: whitesmoke !important;
    font-weight: bold !important;
}

.switch-label {
    font-size: 18px !important;
}

/* Results page specific styling */
.results-full {
    padding-top: 50px;
}

.results-section {
    border-left: 2px solid rgba(105, 124, 153, 0.274);
    padding-top: 25px;
}

.main-section {
    min-height: 90vh;
}

.results-section h2 {
    color: whitesmoke;
    font-size: 75px;
}

.results-search-area {
    padding-top: 75px;
}

.results-searchbar {
    border-radius: 20px;
}

.drink-result {
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.result-title {
    font-size: 40px !important;
}

.result-title-section {
    background-color: rgb(89, 105, 129);
}

.result-info-section {
    background-color: rgb(249, 251, 255);
    padding: 10px 15px;
    font-family: 'Montserrat';
}

.result-info-section h4 {
    font-family: 'Montserrat';
}

.switch-label {
    display: inline-block;
}

.switch-and-label {
    display: flex;
    align-items: center;
}

/* .drink-picture,
.text-info {
    width: 50%;
    display: inline-block;
} */
