body {
    background-color: rgb(169, 201, 250);
}

.text-center {
    text-align: center;
}

h1, h2 {
    font-family: 'Satisfy';
}

.switch-paddle {
    border-radius: 5px;
}

.button {
    border-radius: 10px;
}

.switch-label {
    padding-right: 5px;
    margin-right: 10px;
}

/* Home page specific styling */
.home-main {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  flex-wrap: wrap; 
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    /* height: 300px; */
}
#title {
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: whitesmoke;
}


#textBox {
    width: 50%;
    border-radius: 20px;
}

#slider-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#searchBtn {
    float: right;
}

.searchBox {
    margin-left: 20px;
    width: 60%;
}

#buttonDiv {
    width: 50%;
}

#drinkIcon {
  max-width: 20px;
}

.df-navbar {
  padding: 2px 24px !important;
}

.button {
    font-size: 15px !important;
}

.button,
.switch-label {
    color: whitesmoke !important;
    font-weight: bold !important;
}

.switch-label {
    font-size: 18px !important;
}

/* Results page specific styling */
.results-full {
    padding-top: 10px;
    padding-bottom: 10px;
}

.results-section {
    border-left: 2px solid rgba(105, 124, 153, 0.274);
    padding-top: 25px;
}

.main-section {
    min-height: 90vh;
    max-width: 100%;
}

.results-section h2 {
    color: whitesmoke;
    font-size: 75px;
}

.results-search-area {
    padding-top: 75px;
}

.results-searchbar {
    border-radius: 20px;
}

.drink-result {
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.result-title {
    font-size: 40px !important;
}

.result-title-section {
    background-color: rgb(89, 105, 129);
}

.result-info-section {
    background-color: rgb(249, 251, 255);
    padding: 10px 15px;
    font-family: 'Montserrat';
}

.result-info-section h4 {
    font-family: 'Montserrat';
}

.result-switch {
    display: flex;
    flex-wrap: wrap;
}

.result-switch-label {
    margin-left: 3px;
}

.switch-label {
    display: inline-block;
}

.switch-and-label {
    display: flex;
    align-items: center;
}

.left-pane {
    height: 100vh;
}

.beer-sect {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

.beer-sect hr {
    border-top: 2px solid black;
}

.beer-icon {
    width: auto;
    height: auto;
    margin-bottom: 5px;
    max-height: 25vh;
}

.beer-result-card {
    font-family: 'Montserrat';
}

.beer-result-section {
    max-height: 20vh;
    overflow-y: scroll;
}

.results-buttons-search {
  padding-top: 0px !important;
}

.results-searchbar-sect {
  padding-bottom: 0px !important;
}

@media screen and (max-width: 255px) {
  .beer-icon {
    height: 50px;
    width: auto;
  }
}

@media screen and (max-width: 1100px) {
  .results-buttons-search a {
    width: 100%;
  }
}

/* Nav bar styling */
.topbar-responsive {
  background: #2c3840;
  padding: 1rem 1.5rem;
  max-height: 75px;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #2c3840;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
  font-size: 25px;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 0px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
    
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
  
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
    
  }
}

.top-bar-title {
  font-family: 'Satisfy';
  font-size: 25px;
}

.nav-item {
  font-size: 15px !important;
  font-family: 'Montserrat';
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color:  rgb(169, 201, 250);
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color:  rgba(169, 201, 250, 0.568);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(148, 148, 148, 0.75);
  min-width: 79px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px;
}

.dropdown-content a:hover {
  background-color: rgba(245, 245, 245);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
